{% extends 'Web/content.html.twig' %}


{% block content %}

<div class="col-md-2"></div>
<div class="col-md-8 mt-5">

        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="alert alert-{{ label }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% if showForm %}
        <form method="POST">
            <h1 class="h3 mb-3 font-weight-normal">Set Password</h1>
            
            <label for="newPassword">Password</label>
            <input type="password" name="pass1" id="pass1" class="form-control" required autofocus>
            <br/>
            <label for="newPassword2">Type Password Again</label>
            <input type="password" name="pass2" id="pass2" class="form-control" required>

            <button class="btn btn-lg btn-primary mt-2" type="submit">
                Save
            </button>
        </form>
        {% else %}
            <h1>You may now <a href="{{ path('app_login') }}" alt="Login" title="Login">login</a> with your new credentials</h1>
        {% endif %}

</div>
<div class="col-md-2"></div>
{% endblock %}
